@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
    background-color: #282a36;
    font-family: "Roboto Mono", monospace;
}

body {
    padding: 0px;
    margin: 0px;
  }

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#grid {
    display: grid;
    position: relative;
    grid-template-areas: "icon icon"
                         "icon icon";


    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(2, 100px);
    
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.icon-div {
    background-color: #ffffff;
    border-radius: 25%;
}

.icon-div:hover {
    opacity: 0.8;
}


.icon {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
}

#searchInput {
    width: 500px;
    height: 35px;
    font-size: 18px;
    border-style: none;
    border-radius: 15px;
    text-indent: 5px;
    padding: 3px 5px;
    margin-top: 100px;
    font-family: "Roboto Mono", monospace;
}

button {
    background-color: #fff;
    border-style: none;
    color: black;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    padding: 0px 20px;
    text-align: center;
    transition-duration: 0.2s;
    border-radius: 15px;
    margin-left: 10px;
}
  
  button:hover {
    background-color: #50abf1;
    color: #fff;
  }

  input:focus {
    outline: none;
  }